<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="/style.css">
</head>
<body>

  <h1>welcome to stock quote app</h1>
  <a href="stock?ticker=tsla"></a>
  <h2><%= current_year %></h2>

<form action="/stock">
<input type="text" name="ticker" placeholder="enter ticker name">
<button>get price</button>
</form>


  <p>the best quote app in the world</p>
  <footer>&copy; <%= current_year %></footer>
  
</body>
</html>